.shop-container{
    display: grid;
    grid-template-columns: 5fr 2fr;
}

.products-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin: 30px;
}

.cart-container{
    margin-top: 0;
}
.proceed-link{
    text-decoration: none;
}

.btn-proceed {
    color: white;
    background-color: #FF9900;
    border-radius: 4px;
    height: 56px;
    width: 90%;
    margin: 10px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 21px;
  }